<div id="jenkins-plugin-wizard" title="Jenkins Install Wizard">
    <p>
        <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
        Click OK to install....
    </p>
</div>